<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>837930835182-kiunkck2nlcf2ibhetvp1pmehpnqrefq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.837930835182-kiunkck2nlcf2ibhetvp1pmehpnqrefq</string>
	<key>API_KEY</key>
	<string>AIzaSyCDOOFWSsLETn_efakA028RnpDtTsyCIN0</string>
	<key>GCM_SENDER_ID</key>
	<string>837930835182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FirebaseDemo.JimmyChen</string>
	<key>PROJECT_ID</key>
	<string>loginverification-fcd12</string>
	<key>STORAGE_BUCKET</key>
	<string>loginverification-fcd12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:837930835182:ios:dc40f03b2211618a2ce7ff</string>
	<key>DATABASE_URL</key>
	<string>https://loginverification-fcd12.firebaseio.com</string>
</dict>
</plist>
